# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = games_price_digger.settings

[deploy]
# url = https://gamespriceapi.herokuapp.com/
project = games_price_digger
